<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    .btn{
    padding:1px 1px;
    font-size : 15px;

    }

</style>
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source">Add Source</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/storylist">Stories</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/storyadd">Add Stories</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/sources">Sources</a>
      </li>
    </ul>

    <form method="get" action ="search" class="form-inline my-2 my-lg-0">
      <input type="text" name="search" placeholder=" search..." class="form-control">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <span>&nbsp;&nbsp;<a href='logout/'>Logout</a> </span>
</nav>

{%if count %}
<p style="text-align: center">Total number of stories are:  {{count}}</p>
{% else %}
<h2 style="text-align: center">No story Found !!!</h2>
{% endif %}
{% if sources %}

<!--<h3> Number of sources added for this user is:-  {{count}}</h3>-->

<ul>
    {% for list in sources %}
        <li>{{list.name}}
            <a class="btn btn-primary" href='fetch/{{list.id}}' role="button">fetch</a>
            <a class="btn btn-primary" href='update/{{list.id}}' role="button">Edit</a>
            <a class="btn btn-primary" href="delete/{{list.id}}" role="button">Delete</a>
            <br>
            <a href = '{{list.url}}'>{{list.url}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
